<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile page</title>
</head>
<body>
  {% if user.is_authenticated %}
  <h1>Profile</h1>
  <a href="blog"><button>Home</button></a>
  <a href="profile/edit"><button>Edit Profile</button></a>
  <a href="accounts/logout"><button>Logout</button></a><br>
  Your Username:- {{user.username}}<br>
  First name:- {{user.first_name}}<br>
  Last name:- {{user.last_name}}<br>
  Email:- {{user.email}}<br>
  Birth Date:- {{user.profile.birth_date}}<br>
  Followers:<br>
  {% for a in followers_list.all %}
  <a href={% url 'user_profile' a.id %}>{{a.get_full_name}}</a><br>
  {% endfor %}
  Following:<br>
  {% for a in following_list.all %}
  <a href={% url 'user_profile' a.id %}>{{a.get_full_name}}</a><br>
  {% endfor %}
  <h3>Posts:-</h3><br>
  {% for po in posts %}
    <b>{{po.title}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href={% url 'edit_post_profile' po.id %}><button>Edit</button></a><br>
    {{po.description}}<br>
    &nbsp;&nbsp;&nbsp;Posted by {{po.user.get_full_name}} on {{po.createddatetime}}<br>
    <form action= "{% url 'add_comment_profile' po.id %}" , method="POST">
        {% csrf_token %}
        {{ comment.as_p }}

        <input type="submit" name="submit" value="Comment">

    </form>
    {% for comment in po.comment_set.all %}
          {{ comment.user.get_full_name }}:- {{ comment.comment}} on {{ comment.commentdatetime }} <br>
    {% empty %}
      <p>No comments here yet </p>
    {% endfor %}
    <br><br>
  {% endfor %}
  {% else %}
  <h2>You are not logged in</h2>
  <a href="accounts/login"><button>Login</button></a>
  <a href="profile/register"><button>Register</button></a>
  {% endif %}


</body>
</html>
